#submit_button{
    margin-top:20px;
    margin-bottom:20px;
}
#sorting_button{
    display:none;
    margin-top:20px;
    margin-bottom:20px;
}
input{
margin-top:10px;
margin-bottom:10px;
}